<div class="max-container">
    <div class="table-container">
      <table mat-table [dataSource]="inventario" class="mat-elevation-z8" #tabla1>
          
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef><button type="button" class="tabla-botones btn btn-dark">DESCRIPCION</button></th>
          <td mat-cell *matCellDef="let producto">{{producto.descripcion}}</td>
        </ng-container>
  
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef><button type="button" class="tabla-botones btn btn-dark">CATEGORIA</button></th>
          <td mat-cell *matCellDef="let producto">{{producto.categoria}}</td>
        </ng-container>
  
        <ng-container matColumnDef="stock_inicial">
            <th mat-header-cell *matHeaderCellDef><button type="button" class="tabla-botones btn btn-dark">STOCK_INICIAL</button></th>
            <td mat-cell *matCellDef="let producto">{{producto.precio }}</td>
        </ng-container>

        <ng-container matColumnDef="entradas">
            <th mat-header-cell *matHeaderCellDef><button type="button" class="tabla-botones btn btn-dark">ENTRADAS</button></th>
            <td mat-cell *matCellDef="let producto">{{producto.entradas }}</td>
        </ng-container>

        <ng-container matColumnDef="salidas">
            <th mat-header-cell *matHeaderCellDef><button type="button" class="tabla-botones btn btn-dark">SALIDAS</button></th>
            <td mat-cell *matCellDef="let producto">{{producto.salidas }}</td>
        </ng-container>
        
        <ng-container matColumnDef="stock_real">
            <th mat-header-cell *matHeaderCellDef><button type="button" class="tabla-botones btn btn-dark">STOCK_REAL</button></th>
            <td mat-cell *matCellDef="let producto">{{producto.stock_real }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
  
    <div class="agregar-cantidad-container">
        
      <mat-form-field>
        <!--<mat-label>Buscar producto</mat-label>-->
        <input type="text"
          placeholder="Buscar producto"
          aria-label="Buscar"
          matInput
          matTooltip="Buscar producto"
          [formControl]="myControl"
          [matAutocomplete]="auto" [(ngModel)]="inventarioSelect.descripcion">
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Cantidad</mat-label>
        <input matInput [(ngModel)]="inventarioSelect.entradas" type="number" matTooltip="Ingrese cantidad">
      </mat-form-field>
        
      <button type="button" class="boton-agregar btn btn-outline-primary" (click)="annadirCantidad()">AGREGAR</button>
    </div>
  
  </div>