.max-container {
    width: 87.5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -87.5vh;
    margin-left: 12.5vw;
    justify-content: space-around;    
}

form {
    width: 50%;
    height: 40%;
    margin: 10rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type=text], input[type=email], input[type=tel], input[type="password"] {
    width: 80%;
    margin: auto;
    margin-top: .5vw;
    margin-left: 5vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    display: block;
    margin-left: 5vw;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.25vw;
}

.contenedor {
    display: flex;
    width: 40%;
    margin: auto;
}

button[type=submit] {
    display: block;
    margin: 2rem 1rem 0 0;
    font-size: 2rem;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type=reset] {
    display: block;
    margin: 2rem 1rem 0 0;
    font-size: 2rem;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form-control    {
    resize: none;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {  

    h1  {
        margin-top: 40vw;
        font-size: 2.5rem;
        text-shadow: 2px 3px #2C3333;
    }

    h2  {
        font-size: 1.35rem;
    }

    form {
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 25vw;
    }

    input[type=text], input[type=email], input[type=tel], textarea {
        margin-bottom: 2.5vw;
    }
    
    input[type=checkbox] {
        margin-top: 5vw;
        margin-bottom: 2vw;
    }

    .contenedor {
        display: flex;
        justify-content: center;
    }

    button[type=submit] {
        width: fit-content;
        font-size: 1.5rem;
        margin: 1rem;
    }

    button[type=reset] {
        width: fit-content;
        font-size: 1.5rem;
        margin: 1rem;
    }

}